@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,400;9..40,500;9..40,700&display=swap');
body{
    background-color: black;
}
.sidebar {
    height: calc(100vh - 80px);
}
.card{
    height: calc(100vh - 407px);
    max-height: 533px;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★';
}
.rate > input:checked ~ label {
    color: black;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: gray;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: black;
}
.arrow {
    transition: right 350ms; }

.featured:hover .arrow{
    right: 110px;
    transition: right 200ms ease-out;
}

.list-block-2:hover .view-2{
    opacity: 1;
}
.list-block-3:hover .view-3{
    opacity: 1;
}
.form-image{
    height: calc(100vh - 40px);
}
